.advantages {
  box-sizing: border-box;
  min-width: 320px;
  // min-height: 850px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 30px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // min-width: 320px;
  // min-height: 850px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style: none;
}

.advantages__item {
  width: 250px;
  height: 110px;
}

.advantages__title {
  width: 100%;
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .advantages {
    height: 340px;
  }

  .advantages__list {
    flex-wrap: wrap;
    width: 600px;
    height: 340px;
  }

  .advantages__item {
    width: 300px;
    height: 100px;
  }

  .advantages__title {
    width: 600px;
  }
}
