.contacts {
  // box-sizing: border-box;
  width: 100%;
  height: 859px;
  margin: 0 auto;
  padding-top: 39px;
  position: relative;
}

.contacts:after {
  content: "";
  width: 320px;
  height: 6px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: cover;
  position: absolute;
  top: -3px;
  right: 50%;
  transform: translateX(50%);
}

.contacts__flag {
  display: none;
}

.contacts__title {
  box-sizing: border-box;
  width: 320px;
  padding-left: 28px;
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto;
  margin-top: -2px;
  margin-bottom: 10px;
}

.contacts__info {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 23px;
  padding-left: 30px;
  padding-right: 30px;
  font-style: normal;
}

.contacts__field {
  width: 78px;
  font-size: 15px;
  line-height: 30px;
  color: @greyish-brown;
  vertical-align: top;
  padding: 0;
}

.contacts__value {
  width: 178px;
  font-size: 15px;
  line-height: 30px;
  color: @greyish-brown;
  padding: 0;
}

.contacts__value--mail:hover,
.contacts__value--mail:focus {
  color: @aquamarine-two;
}

.contacts__value--mail:active {
  opacity: 0.3;
}

.contacts__value--address {
  width: 150px;
}

.contacts__value--mail {
  border-bottom: 1px solid @seafoam-blue;
}

.contacts__map-wrapper {
  width: 100%;
  height: 457px;
  margin-bottom: 39px;
}

.contacts__map-picture {
  width: 320px;
  height: 457px;
  position: absolute;
  z-index: -1;
  margin: 0 auto;
  right: 50%;
  transform: translateX(50%);
}

.contacts__map-wrapper iframe {
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 0;
}

.contacts__button {
  box-sizing: border-box;
  display: block;
  width: 260px;
  min-height: 52px;
  margin: 0 auto;
  color: @greyish-brown;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  border: 2px solid @greyish-brown;
  padding-top: 14px;
}

.contacts__button:hover,
.contacts__button:focus {
  background-color: @greyish-brown;
  color: white;
}

.contacts__button:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: @tablet-width) {
  .contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 896px;
    padding-top: 47px;
  }

  .contacts:after {
    content: "";
    width: 768px;
    height: 16px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: cover;
    background-position: -15px 0;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }

  .contacts__title {
    display: block;
    width: 768px;
    font-size: 43px;
    line-height: 50px;
    padding-left: 48px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
  }

  .contacts__info {
    width: 768px;
    padding-left: 52px;
    margin-bottom: 56px;
  }

  .contacts__flag {
    display: block;
    width: 47px;
    position: absolute;
    top: -14px;
    right: 50px;
  }

  .contacts__field,
  .contacts__value, {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
  }

  .contacts__value--mail {
    height: 28px;
    width: 200px;
    margin-right: 54px;
  }

  .contacts__value--address {
    width: 230px;
  }

  .contacts__map-wrapper {
    width: 100%;
    height: 457px;
    margin-bottom: 56px;
  }

  .contacts__map-picture {
    width: 768px;
    height: 457px;
    right: 50%;
    transform: translateX(50%);
  }

  .contacts__button {
    width: 230px;
    height: 52px;
    margin-bottom: 58px;
    padding-left: 0px;
    padding-top: 14px;
    font-size: 17px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 1050px;
    height: 654px;
    padding-top: 91px;
    flex-direction: column;
    align-content: flex-start;
    box-sizing: border-box;
  }

  .contacts:after {
    content: "";
    width: 1050px;
    height: 23px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: cover;
    background-position: -30px 0;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
  }

  .contacts__flag {
    order: 1;
    margin: 0;
    margin-top: 62px;
    display: block;
    position: absolute;
  }

  .contacts__title {
    width: 280px;
    order: 2;
    padding: 0;
    margin-left: 168px;
    margin-right: 0;
    margin-top: 70px;
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__flag {
    margin: 0;
    top: -7px;
    left: -107px;
  }

  .contacts__info {
    order: 3;
    width: 356px;
    padding: 0;
    padding-left: 4px;
    margin: 0;
    margin-left: 168px;
    margin-bottom: 48px;
  }

  .contacts__value {
    width: 210px;
    margin-bottom: 30px;
  }

  .contacts__value--address {
    width: 230px;
  }

  .contacts__button {
    order: 4;
    font-size: 17px;
    margin: 0;
    margin-left: 174px;
    padding-top: 15px;
  }

  .contacts__map-wrapper {
    order: 5;
    width: 525px;
    height: 457px;
    position: relative;
  }

  .contacts__map-picture {
    width: 525px;
    height: 457px;
    right: 0;
    transform: translateX(0px);
  }
}
