.extra-nav {
  width: 100%;
  margin: 0 auto;
  min-height: 206px;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 27px;
}

.extra-nav:hover,
.extra-nav:focus {
  margin-bottom: 27px;
}

.extra-nav__icon {
  fill: #149080;
  opacity: 0.5;
}

.extra-nav__link {
  box-sizing: border-box;
  min-height: 103px;
  width: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:active .extra-nav__item {
    opacity: 0.3;
  }

  &:hover .extra-nav__icon {
    opacity: 0.7;
  }

  &:focus .extra-nav__icon {
    opacity: 0.7;
  }

  &:active .extra-nav__icon {
    opacity: 0.3;
  }
}

.extra-nav__link--interior {
  background-color: @seafoam-blue;
  padding-left: 30px;
  padding-top: 22px;
  padding-right: 35px;
}

.extra-nav__link--interior:hover,
.extra-nav__link--interior:focus {
  min-height: 108px;
  padding-top: 18px;
  margin-top: -5px;
}

.extra-nav__link--toys {
  background-color: @aquamarine;
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 26px;
}

.extra-nav__link--toys:hover,
.extra-nav__link--toys:focus {
  min-height: 108px;
  padding-top: 16px;
  margin-top: -5px;
}

.extra-nav__image-wrapper--interior {
  width: 40px;
  min-height: 62px;
}

.extra-nav__image-wrapper--toys {
  width: 60px;
  min-height: 60px;
}

.extra-nav__item {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  color: white;
  width: 120px;
  height: 43px;
}

@media (min-width: @tablet-width) {
  .extra-nav {
    width: 668px;
    min-height: 119px;
    flex-direction: row;
    margin-bottom: 136px;
    align-items: flex-end;
    position: absolute;
    top: 710px;
    left: 50%;
    transform: translateX(-333px);
    z-index: 0;
  }

  .extra-nav:hover,
  .extra-nav:focus {
    margin-bottom: 136px;
  }

  .extra-nav__link {
    width: 334px;
    height: 119px;
    padding-top: 30px;
    padding-left: 36px;
    padding-right: 36px;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }

  .extra-nav__link--interior {
    padding-top: 25px;
    padding-left: 34px;
  }

  .extra-nav__link--toys {
    padding-top: 28px;
    padding-left: 35px;
  }

  .extra-nav__link--interior:hover,
  .extra-nav__link--interior:focus {
    height: 124px;
    padding-top: 20px;
    margin-top: 0;
  }

  .extra-nav__link--toys:hover,
  .extra-nav__link--toys:focus {
    height: 124px;
    padding-top: 23px;
    margin-top: 0;
  }

  .extra-nav__item {
    width: 110px;
  }

  .extra-nav__item--toys {
    padding: 0;
  }

  .extra-nav__image-wrapper--interior {
    width: 40px;
    margin-top: 5px;
  }

  .extra-nav__image-wrapper--toys {
    width: 60px;
    margin-top: 3px;
  }
}

@media (min-width: @desktop-width) {
  .extra-nav {
    width: 1050px;
    margin-bottom: 70px;
  }

  .extra-nav:hover,
  .extra-nav:focus {
    margin-bottom: 70px;
  }

  .extra-nav__link {
    width: 525px;
  }
}
