.form {
  box-sizing: border-box;
  width: 320px;
  padding: 30px;
  padding-top: 22px;
  padding-bottom: 24px;
  margin: 0 auto;
}

.form__text {
  font-size: 13px;
  line-height: 24px;
  color: @greyish-brown;
  margin: 0;
  margin-bottom: 24px;
}

.form__field {
  width: 260px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 0;
  padding: 0;
  margin: 0;
}

.form__field--type {
  margin-bottom: 20px;
}

.form__field--phone {
  margin-top: 9px;

  &:hover .form__icon {
    opacity: 1;
    fill: @seafoam-blue;
  }
}

.form__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  margin-bottom: 14px;
}

.form__wrapper--type {
  margin-bottom: 0;
}

.form__wrapper--color {
  margin-bottom: 0;
}

.form__wrapper--name {
  margin-bottom: 0;
  flex-wrap: wrap;
}

.form__wrapper--phone {
  margin-bottom: 0;
  flex-wrap: wrap;
}

.form__wrapper--email {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.form__wrapper--comment {
  margin-bottom: 5px;
}

.form__radio-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.form__input-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.form__checkbox-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.form__field-title {
  width: 100%;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: @seafoam-blue;
  text-transform: uppercase;
  margin: 0;
  margin-top: 0;
  margin-bottom: 20px;
  position: relative;
}

.form__field-title--type {
  margin-bottom: 35px;
}

.form__field-title--color {
  margin-bottom: 36px;
}

.form__field-title--name {
  margin-bottom: 28px;
}

.form__field-title--phone {
  margin-bottom: 18px;
}

.form__field-title--email {
  margin-bottom: 16px;
}

.form__field-title--comment {
  margin-bottom: 24px;
}

.form__field-title::after {
  content: "";
  height: 8px;
  position: absolute;
  width: 198px;
  border: 0;
  border-bottom: 1px solid @seafoam-blue;
  right: 0;
}

.form__field-title--email::after {
  width: 179px;
}

.form__label {
  width: 155px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  margin-left: 62px;
  margin-bottom: 24px;
  position: relative;
  cursor: pointer;
}

.form__label--color {
  margin-bottom: 44px;
  height: 17px;
}

.form__label--name {
  margin: 0;
  cursor: default;
}

.form__phone-label {
  position: relative;
}

.form__email-label {
  position: relative;
}

.form__icon-phone {
  position: absolute;
  margin: 0;
  top: 0;
  right: 7px;
  opacity: 0.2;
}

.form__icon-email {
  position: absolute;
  opacity: 0.2;
  top: 32px;
  right: 4px;
  margin: 0;
}

.form__radio + .form__radio-indicator {
  position: absolute;
  top: -9px;
  left: -62px;
  width: 35px;
  height: 35px;
  z-index: 0;
  border: 2px solid black;
  border-radius: 50%;
}

.form__radio + .form__radio-indicator:hover {
  border: 2px solid @seafoam-blue;
}

.form__radio + .form__radio-indicator:active {
  border: 2px solid @greyish-brown;
  opacity: 0.3;
}

.form__radio:checked + .form__radio-indicator::before {
  content: "";
  position: absolute;
  top: 50% - 22px;
  left: 50% - 22px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: @seafoam-blue;
}

.form__radio:focus + .form__radio-indicator {
  border: 2px solid @seafoam-blue;
}

.form__checkbox + .checkbox-indicator {
  position: absolute;
  top: -10px;
  left: -62px;
  width: 36px;
  height: 36px;
  z-index: 0;
  border: 2px solid black;
}

.form__checkbox:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
  width: 24px;
  height: 30px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.form__checkbox + .checkbox-indicator:hover, {
  border: 2px solid @seafoam-blue;
}

.form__checkbox + .checkbox-indicator:active {
  border: 2px solid @greyish-brown;
  opacity: 0.3;
}

.form__checkbox:focus + .checkbox-indicator {
  border: 2px solid @seafoam-blue;
}

.form__text-input {
  width: 260px;
  border: 0;
  border-bottom: 2px solid black;
  margin-bottom: 13px;
  padding-bottom: 13px;
  font-size: 19px;
  line-height: 18px;
  color: @greyish-brown;
}

.form__text-input--name {
  margin-top: 10px;
  margin-bottom: 22px;
}

.form__text-input:hover,
.form__text-input:focus {
  border-bottom: 2px solid @seafoam-blue;
  outline: 0;
}

.form__phone-input {
  outline: 0;
  width: 260px;
  border: 0;
  border-bottom: 2px solid black;
  padding-bottom: 12px;
  margin-bottom: 32px;
  font-size: 19px;
  line-height: 18px;
  color: @greyish-brown;
}

.form__phone-input:hover,
.form__phone-input:focus,
.form__phone-input:active {
  border-bottom: 2px solid @seafoam-blue;
}

.form__field--email {
  &:hover .form__icon {
    opacity: 1;
    fill: @seafoam-blue;
  }
}

.form__mail-input {
  width: 260px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 2px solid black;
  padding-bottom: 14px;
  margin-bottom: 32px;
  font-size: 19px;
  line-height: 18px;
  color: @greyish-brown;
  outline: 0;
}

.form__mail-input:hover,
.form__mail-input:focus,
.form__mail-input:active {
  border-bottom: 2px solid @seafoam-blue;
}

.form__comment {
  box-sizing: border-box;
  width: 260px;
  min-height: 142px;
  padding: 15px;
  border: 2px solid black;
  margin-bottom: 16px;
  font-size: 19px;
  line-height: 18px;
  color: @greyish-brown;
}

.form__comment:hover,
.form__comment:focus,
.form__comment:active {
  border: 2px solid @seafoam-blue;
  outline: 0;
}

.form__text-input::placeholder,
.form__mail-input::placeholder,
.form__comment::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: @greyish-brown;
  opacity: 0.3;
}

.form__phone-input::placeholder {
  font-size: 19px;
  line-height: 18px;
  color: @greyish-brown;
  opacity: 0.3;
}

.form__asterisk {
  font-size: 14px;
  line-height: 16px;
  color: @greyish-brown;
  margin: 0;
  margin-bottom: 30px;
}

.form__submit {
  box-sizing: border-box;
  width: 260px;
  min-height: 52px;
  border: 2px solid @greyish-brown;
  text-align: center;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  background-color: white;
  text-transform: uppercase;
  color: @greyish-brown;
  margin-bottom: 29px;
  outline: 0;
}

.form__submit:hover,
.form__submit:focus {
  background-color: @greyish-brown;
  color: white;
}

.form__submit:active {
  background-color: @greyish-brown;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: @tablet-width) {
  .form {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-top: 71px;
  }

  .form__text {
    width: 668px;
    font-size: 17px;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .form__field {
    width: 100%;
    margin: 0;
    padding-top: 49px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .form__field--color {
    width: 100%;
    min-height: 304px;
    box-sizing: border-box;
    padding: 0;
    padding-top: 66px;
    margin: 0;
    background-color: @lightgrey2;
  }

  .form__field--name {
    padding-top: 66px;
  }

  .form__field--phone {
    padding-top: 66px;
    background-color: @lightgrey2;
  }

  .form__field--email {
    min-height: 86px;
    padding-top: 29px;
    padding-bottom: 0;
    background-color: @lightgrey2;
  }

  .form__wrapper {
    width: 668px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .form__wrapper--name {
    width: 668px;
    margin: 0 auto;
  }

  .form__checkbox-wrapper {
    width: 498px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
  }

  .form__radio-wrapper {
    width: 498px;
    display: flex;
    flex-wrap: wrap;
  }

  .form__input-wrapper {
    width: 498px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__field-title {
    width: 169px;
  }

  .form__field-title--color {
    width: 170px;
  }

  .form__field-title--phone {
    margin-left: 0;
  }

  .form__field-title--email {
    margin: 0;
  }

  .form__field-title--comment {
    padding-top: 16px;
  }

  .form__field-title::after {
    display: none;
  }

  .form__text-input {
    box-sizing: border-box;
    width: 375px;
    height: 54px;
    padding: 0;
    padding-left: 17px;
    margin: 0;
    margin-top: -18px;
    margin-right: 52px;
  }

  .form__phone-input {
    width: 498px;
    margin-left: auto;
    margin-top: -2px;
    margin-bottom: 0;
    background-color: @lightgrey2;
    padding: 0;
    padding-bottom: 12px;
  }

  .form__mail-input {
    width: 498px;
    margin-right: 0;
    background-color: @lightgrey2;
    padding: 0;
    padding-bottom: 12px;
  }

  .form__comment {
    width: 498px;
    margin-bottom: 53px;
  }

  .form__asterisk {
    order: 3;
    font-size: 17px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: auto;
  }

  .form__submit {
    order: 2;
    width: 230px;
    margin-bottom: 41px;
  }

  .form__phone-input::placeholder {
    font-size: 19px;
    line-height: 18px;
    padding-left: 17px;
  }

  .form__mail-input::placeholder {
    font-size: 19px;
    line-height: 18px;
    padding-left: 16px;
  }

  .form__icon-phone {
    margin: 0;
    top: -2px;
    right: 24px;
  }

  .form__icon-email {
    margin: 0;
    top: -4px;
    right: 23px;
  }

  .form__text-input--name {
    width: 375px;
    height: 36px;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    padding-left: 17px;
    padding-bottom: 17px;
  }

  .form__text-input--name:nth-child(2) {
    width: 428px;
    margin-left: 0;
  }


  .form__text-input::placeholder,
  .form__comment::placeholder {
    font-size: 19px;
    line-height: 18px;
  }

  .form__label {
    width: 300px;
    height: 76px;
    margin-right: 172px;
    margin-left: auto;
    margin-bottom: 0;
    font-size: 19px;
    line-height: 18px;
  }

  .form__label--type {
    width: 280px;
    margin-left: 78px;
    margin-right: 0;
    margin-top: -1px;
  }

  .form__label--color {
    box-sizing: border-box;
    width: 263px;
    height: 30px;
    margin: 0;
    padding-left: 78px;
    margin-bottom: 46px;
  }

  .form__label--color:nth-child(even) {
    width: 200px;
  }

  .form__label--name {
    width: 70px;
    margin: 0;
  }

  .form__phone-label {
    width: 498px;
  }

  .form__mail-label {
    width: 498px;
    height: 50px;
    margin-top: -3px;
  }

  .form__radio + .form__radio-indicator {
    top: -16px;
    left: -81px;
    width: 48px;
    height: 48px;
  }

  .form__radio:checked + .form__radio-indicator::before {
    width: 22px;
    height: 22px;
  }

  .form__checkbox + .checkbox-indicator {
    top: -15px;
    left: -4px;
    width: 50px;
    height: 48px;
  }

  .form__checkbox:checked + .checkbox-indicator::before {
    top: 8px;
    left: 4px;
    width: 30px;
    height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: 100%;
    margin: 0 auto;
    padding-top: 120px;
  }

  .form__text {
    width: 720px;
    margin: 0 auto;
    padding: 0;
    padding-left: 20px;
    margin-bottom: 23px;
  }

  .form__field {
    width: 100%;
  }

  .form__field--type {
    padding-bottom: 12px;
  }

  .form__field--color {
    min-height: 228px;
    justify-content: flex-start;
    padding-top: 64px;
  }

  .form__field--name {
    padding-top: 64px;
    min-height: 304px;
    box-sizing: border-box;
  }

  .form__field--phone {
    padding-bottom: 14px;
  }

  .form__field--comment {
    padding-top: 48px;
  }

  .form__wrapper {
    width: 924px;
    margin: 0 auto;
  }

  .form__wrapper--name {
    margin: 0 auto;
  }

  .form__wrapper--color {
    order: 0;
    margin: 0 auto;
    padding: 0;
  }

  .form__wrapper--comment {
    margin: 0 auto;
  }

  .form__checkbox-wrapper {
    width: 750px;
    justify-content: flex-start;
  }

  .form__input-wrapper {
    width: 697px;
  }

  .form__field-title {
    width: 70px;
    margin-right: 46px;
    padding-top: 2px;
  }

  .from__field-title--color {
    margin-right: 40px;
    margin-left: -4px;
  }

  .form__field-title--phone {
    padding: 0;
    width: 64px;
  }

  .form__field-title--email {
    padding: 0;
    width: 64px;
  }

  .form__field-title--comment {
    padding-top: 18px;
    width: 66px;
  }

  .form__label {
    margin-right: 0;
  }

  .form__label--color,
  .form__label--color:nth-child(even) {
    order: 1;
    margin: 0;
    margin-bottom: 46px;
    width: 262px;
  }

  .form__label--color:nth-child(3n) {
    width: 200px;
  }

  .form__label--name {
    width: auto;
    margin: 0;
  }

  .form__phone-label {
    width: 700px;
  }

  .form__mail-label {
    position: relative;
    width: 700px;
  }

  .form__text-input {
    margin-right: 225px;
    margin-left: auto;
    width: 573px;
  }

  .form__phone-input,
  .form__mail-input {
    width: 700px;
    height: 22px;
    margin: 0;
  }

  .form__text-input--name {
    width: 573px;
    height: 38px;
    margin: 0;
  }

  .form__text-input--name:nth-child(2) {
    width: 626px;
  }

  .form__comment {
    width: 700px;
    margin-bottom: 49px;
  }

  .form__submit {
    margin-left: 112px;
  }

  .form__asterisk {
    margin: 0;
    margin-left: 170px;
    margin-top: 10px;
  }

  .form__checkbox + .checkbox-indicator {
    left: -4px;
  }

  .form__icon-phone {
    right: 6px;
    top: -6px;
  }

  .form__icon-email {
    top: -4px;
    right: 4px;
  }
}
