.main-nav {
  width: auto;
  margin: 0;
  min-height: 320px;
  font-size: 17px;
  line-height: 24px;
  color: black;
  font-weight: 700;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.main-nav__item {
  min-height: 79px;
  border-top: 1px solid @lightgrey;
  width: 100%;
}

.main-nav__link {
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 79px;
  text-decoration: none;
  color: black;
  padding-left: 76px;
  padding-top: 26px;
}

.main-nav__item--shipping {
  display: none;
}

.main-nav__item--arrival {
  display: none;
}

.main-nav__item--sale {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    min-height: 0;
  }

  .main-nav__item {
    border: 0;
    width: auto;
    min-height: 88px;
  }

  .main-nav__link {
    width: auto;
    min-height: 88px;
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    padding: 0;
  }

  .main-nav__item--search {
    position: absolute;
    top: 0;
    right: 316px;
    width: 82px;
    margin: 0;
    padding: 0;
    border: 0;
    border-left: 1px solid @lightgrey;
    border-right: 1px solid @lightgrey;
  }

  .main-nav__link--search {
    font-size: 0;
  }

  .main-nav__item--bin {
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 316px;
    top: 0;
    right: 0;
  }

  .main-nav__link--bin {
    font-size: 17px;
    padding-left: 83px;
    padding-top: 34px;
  }

  .main-nav__item--catalog {
    display: inline;
    position: absolute;
    width: auto;
    top: 113px;
    left: 52px;
  }

  .main-nav__link--catalog {
    display: inline;
  }

  .main-nav__item--order {
    position: absolute;
    top: 113px;
    left: 220px;
  }

  .main-nav__link--order {
    display: inline;
  }

  .main-nav__item--shipping {
    display: inline;
    height: auto;
    position: absolute;
    top: 113px;
    right: 52px;
  }

  .main-nav__link--shipping {
    font-weight: 400;
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__item--catalog {
    top: 0;
  }

  .main-nav__link--catalog {
    display: block;
    width: 194px;
    padding-top: 30px;
    font-size: 17px;
    border-right: 1px solid @lightgrey;
  }

  .main-nav__item--order {
    top: 0;
    left: 244px;
  }

  .main-nav__link--order {
    display: block;
    width: 220px;
    padding-top: 30px;
    padding-left: 35px;
    font-size: 17px;
  }

  .main-nav__item--arrival {
    display: block;
    position: absolute;
    top: 113px;
    left: 52px;
  }

  .main-nav__link--arrival {
    display: inline;
  }

  .main-nav__item--sale {
    display: block;
    position: absolute;
    top: 113px;
    left: 280px;
  }
}
