.page-title {
  box-sizing: border-box;
  min-height: 177px;
  background-color: #f1f1f1;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 65px;
}

.page-title__title {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
}

@media (min-width: @tablet-width) {
  .page-title {
    min-height: 226px;
    padding-top: 90px;
  }

  .page-title__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .page-title {
    min-height: 255px;
    padding-top: 105px;
  }
}
