.page-intro {
  background-color: white;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  font-size: 27px;
  line-height: 30px;
  color: #010000;
  font-weight: 700;
  outline: 1px solid #ececec;
}
