.page-header {
  min-height: 79px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.page-header__logo-image--wrapper {
  width: 86px;
  height: 35px;
  margin: 0 auto;
}

.page-header__logo-image--wrapper:hover,
.page-header__logo-image--wrapper:focus {
  opacity: 0.6;
}

.page-header__logo-image--wrapper:active {
  opacity: 0.3;
}

.page-header__logo-tablet {
  display: none;
}

.page-header__logo-desktop {
  display: none;
}

.page-header__logo {
  width: 86px;
  height: 35px;
  margin: 0 auto;
}

.page-header__menu-button {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  width: 20px;
  height: 20px;
  font-size: 0;
  position: absolute;
  right: 30px;
  top: 30px;
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  background-position: 0 center;
}

.page-header__menu-button--open {
  height: 17px;
  background-image: url("../img/icon-menu-open.svg");
}

@media (min-width: @tablet-width) {
  .page-header {
    min-height: 88px;
    border-bottom: 1px solid @lightgrey;
  }

  .page-header__menu-button {
    display: none;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: block;
    width: 112px;
    height: 46px;
  }

  .page-header__logo-image--wrapper {
    width: 112px;
    height: 46px;
    margin: 0;
  }

  .page-header__logo-image {
    width: 112px;
    height: 46px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-image--wrapper {
    margin: 0 auto;
    width: 149px;
    height: 72px;
  }

  .page-header__logo-image {
    width: 149px;
    height: 72px;
    margin: 0 auto;
  }
}
