.page-footer {
  min-height: 160px;
  background-color: #f1f1f1;
  color: black;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  padding-left: 50px;
  padding-right: 50px;
  outline: 1px solid #ececec;
  display: flex;
  flex-direction: column;
}

.page-footer__logo-wrapper {
  display: none;
}

.page-footer__social {
  min-height: 80px;
  display: flex;
  justify-content: space-around;
  font-size: 0;
  border-bottom: 1px solid @lightgrey;
}

.page-footer__copyright {
  box-sizing: border-box;
  min-height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid @lightgrey;
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    min-height: 143px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-footer__logo-wrapper {
    width: 184px;
    box-sizing: border-box;
    display: block;
    height: 143px;
    padding-top: 50px;
    padding-left: 2px;

    &:hover .page-footer__logo {
      fill: @aquamarine-two;
    }

    &:focus .page-footer__logo {
      fill: @aquamarine-two;
    }

    &:active .page-footer__logo {
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    box-sizing: border-box;
    justify-content: center;
  }

  .page-footer__social {
    margin-left: 270px;
    margin-right: 270px;
  }
}
