.week-deal {
  width: 260px;
  height: 795px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  display: flex;
  flex-direction: column;
  position: relative;
}

.week-deal:after {
  content: "";
  width: 320px;
  height: 6px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: cover;
  position: absolute;
  bottom: -2px;
  left: -5px;
}

.week-deal__item-name {
  font-size: 25px;
  line-height: 30px;
  color: black;
  margin: 0;
  padding-left: 1px;
}

.week-deal__title {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: @seafoam-blue;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 22px;
}

.week-deal__description {
  margin: 0;
  margin-bottom: 16px;
  padding-left: 1px;
}

.week-deal__details {
  min-height: 122px;
  margin-bottom: 26px;
  margin-left: -2px;
}

.week-deal__tablerow {
  box-sizing: border-box;
  padding-top: 5px;
  display: block;
  min-height: 40px;
  border-bottom: 1px solid @lightgrey;
}

.week-deal__field {
  padding: 0;
  width: 96px;
}

.week-deal__value {
  padding: 0;
}

.week-deal__image {
  width: 260px;
  height: 315px;
  margin-bottom: 24px;
}

.week-deal__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-bottom: 26px;
  color: @greyish-brown;
}

.week-deal__button {
  box-sizing: border-box;
  display: block;
  width: 260px;
  min-height: 52px;
  border: 2px solid @greyish-brown;
  text-align: center;
  padding-top: 14px;
  padding-left: 2px;
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: @greyish-brown;
}

.week-deal__button:hover {
  background-color: @greyish-brown;
  color: white;
}

.week-deal__button:active {
  background-color: @greyish-brown;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: @tablet-width) {
  .week-deal {
    height: 424px;
    margin: 0 auto;
    width: 668px;
    flex-wrap: wrap;
    padding-bottom: 40px;
    padding-left: 48px;
    padding-right: 50px;
    border-bottom: 0px;
  }

  .week-deal:after {
    content: "";
    width: 768px;
    height: 16px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: cover;
    background-position: -15px 0;
    position: absolute;
    bottom: -12px;
    left: 0;
  }

  .week-deal__description {
    width: 282px;
    min-height: 77px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 34px;
  }

  .week-deal__item-name {
    width: 334px;
    position: absolute;
    top: -100px;
    font-size: 43px;
    line-height: 50px;
    min-width: 480px;
    min-height: 42px;
    margin-left: -2px;
  }

  .week-deal__title {
    position: absolute;
    top: -95px;
    margin-left: 550px;
    width: 110px;
    text-align: center;
    line-height: 17px;
  }

  .week-deal__details {
    width: 292px;
    margin-bottom: 56px;
  }

  .week-deal__price {
    min-width: 150px;
    max-width: 334px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 34px;
  }

  .week-deal__button {
    width: 292px;
    min-height: 52px;
  }

  .week-deal__image {
    margin-left: 40px;
    margin-top: 5px;
    order: 1;
    width: 334px;
    height: 404px;
    background-image: url("../img/triple-set-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/triple-set-tablet@2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .week-deal {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    min-width: 1050px;
    min-height: 728px;
    margin-top: 60px;
    padding-left: 175px;
    border-bottom: 23px solid transparent;
  }

  .week-deal:after {
    content: "";
    width: 1050px;
    height: 23px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: cover;
    background-position: -30px 0;
    position: absolute;
    bottom: -26px;
    left: 0;
  }

  .week-deal__item-name {
    min-width: 550px;
    font-size: 53px;
    line-height: 57px;
    position: absolute;
    top: 52px;
    // margin-left: -4px;
  }

  .week-deal__title {
    margin-left: -148px;
    top: 60px;
    font-size: 17px;
    line-height: 17px;
  }

  .week-deal__description {
    margin-top: 158px;
    margin-bottom: 46px;
  }

  .week-deal__details {
    margin-bottom: 107px;
  }

  .week-deal__price {
    width: 290px;
  }

  .week-deal__image {
    width: 525px;
    height: 636px;
    margin: 0;
    margin-right: 0;
    margin-left: auto;

    background-image: url("../img/triple-set-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("img/triple-set-desktop@2x.jpg");
      background-size: cover;
    }
  }
}
