.week-deal {
  width: 320px;
  min-height: 820px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  padding: 30px;
  outline: 1px solid #ececec;
}

@media (min-width: @tablet-width) {
  .week-deal {
    width: 100%;
    min-height: 627px;
  }
}
